body{
    background: linear-gradient(to right, #f2994a, #f2c94c);
}

.imgLogo{
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 15;
    border: 0px solid black;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
 
.navbar li :hover {
    overflow:visible;
    background-color: #888282;
}

 
#idtabla-venta-producto{
 display:inline-block; 
    padding: 15px;
    margin-left: 15px;
}
/* inputs vendedor borrar flechas*/

/* Chrome, Safari, Edge, Opera */
#idtotal-input::-webkit-outer-spin-button,
#idtotal-input::-webkit-inner-spin-button,
#idabonado-input::-webkit-outer-spin-button,
#idabonado-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

/* mozila*/
#idtotal-input[type=number], #idabonado-input[type=number]{
  -moz-appearance: textfield;
  width: 40px;
}
  
/* inputs vendedor borrar flechas*/
#iddisplay-Calculadora{
    display:inline-block;
    position: absolute;
    right: 0;
    margin-right: 9px;
    width: 280px;
    height: 150px;
    padding: 15px;
    font-size: 25px;
    background-color: #000;
    color: #4acc0e;
  }

#idbotones-pantalla-venta{
  position: absolute;
  right: 0;
  margin-right: 9px;
  padding: 40px;
}

#iddivindicadores{
  background-color: #000;
  width: 100%;
  color: white;
  padding: 7px;
  margin: 0px ;
}

#idventa-radio{
  display: inline-block;
}