body{
    background: linear-gradient(to right, #f2994a, #f2c94c);
}

.imgLogo{
    margin-left: 120px;
    margin-top: 30px;
    border-radius: 15;
    border: 0px solid black;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
 
  .navbar li :hover {
    overflow:visible;
    background-color: #888282;
  }

  #idtabla-venta-producto{
    padding: 15px;
    margin-left: 15px;
  }
  
  #iddisplay-Calculadora{
    width: 40px;
    height: 80px;
    background-color: #000;
  }