/* #divNotificaciones {
    position: fixed;
    top: 6%;
    right: 11%;
    width: 30%;
    max-width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.divNotificaciones {
    font-size: 1em;
    text-align: left;
}

#divNotificaciones {
    padding: 0;
}

#divNotificaciones ul li {
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

#divNotificaciones>ul>li:hover {
    border: 1px solid #0d6efd;
} */

#divNotificaciones {
    position: fixed;
    top: 6%;
    right: calc(11% + 8px);
    /* Ajusta la posición a la izquierda según sea necesario */
    width: 30%;
    max-width: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: start;
}

.divNotificaciones {
    font-size: 1em;
    text-align: left;
}

#divNotificaciones {
    padding: 0;
}

#divNotificaciones ul li {
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

#divNotificaciones>ul>li:hover {
    border: 1px solid #0d6efd;
}