*{
    font-family: sans-serif;
    background-color: rgb(254, 202, 97);
    margin: 0;
    padding: 0;
}

.container{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}

input, button{
    text-align: center;
    flex-wrap: wrap;
     border-radius: 100px; 
     padding: 10px;  
}

button{
    background-color: rgba(255, 234, 0, 0.68);
}

p{
    padding: 45px;
    position:absolute;
}

.div-input{

    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    min-width: 100px;
    padding: 15px;
    margin: 10px;
    height: 200px;
    width: 200px;
}

  
 